src/ejercicio3.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE productos SYSTEM "ejercicio3.xml">
        <!ELEMENT productos (producto+)>
        <!ELEMENT producto  (raton|teclado|monitor)>
        <!ELEMENT raton     (codigo, nombre?, descripcion?)>
        <!ELEMENT teclado   (codigo, nombre?, descripcion?)>    <!ELEMENT monitor   (codigo, nombre?, descripcion?)>
        <!ELEMENT codigo    (#PCDATA)>
        <!ELEMENT nombre    (#PCDATA)>
        <!ELEMENT descripcion (#PCDATA)>